.ReactModalPortal > div{
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay{
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}
.modal{
    background:black;
    padding: $m-size;
    max-width: 30rem;
    color: $purple;
    text-align: center;
}
.modal__title{
    color: $purple;
    font-style: italic;
    font-size: $m-size;
}
.modal__body{
    color: rgb(23, 190, 182);
    font-size:$m-size;
    margin-bottom: $xs-size;
    word-break: break-all;
}