.widget{
    background: rgb(61, 60, 60);
    margin-bottom:30rem ;
    
   
}
.widget-message{
    text-align: center;
    color: lighten($color:$off-white, $amount: 20%);
    margin:$m-size;
}
.widget-option{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: $m-size $s-size;
    font-size: $m-size;
    background: lighten(rgb(61, 60, 60),2%);
    border-bottom:0.0003cm solid rgb(172, 160, 160);
    word-break:break-all;
    
}
.widget__Addoption{
    display: flex;
    margin-right:$xs-size;
    padding: $xs-size;
}
.widget__Addoption__input{
    background: rgb(61, 60, 60);
    border: 0.3rem solid lighten( rgb(61, 60, 60),20%);
    margin-right: $s-size;
    color: $off-white;
    font-size: $m-size;
    flex-grow: 1;
}
.widget__Addoption__error{
    text-align: center;
    font-size: $s-size;
    color: rgb(255, 0, 255);
    margin: $xs-size $s-size 0 0;
}
.widget-header{
    background: $purple;
    display: flex;
    justify-content: space-between;
    padding: $s-size/2;
    color:$off-white;
    font-size: $m-size;
    margin-bottom: $s-size;
}
p{
    //padding: 0 0;
    margin: 0;
}
@media (max-width:45rem)
{
    .widget__Addoption{
        flex-direction: column;
       
    }
    .widget__Addoption__input{
        margin: 0 0 $s-size 0;
    }
}